/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

/* Common style */

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.student, .explore, .trusted{
    margin: 150px 0px;
}
.courses{
    margin-top: 120px;
}
.top-gap{
    margin-top: 40px;
}
.bg-color, .footer{
    color: #ffffff;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7611fd+28,aa31f7+95&0.79+30,0.7+59 */
background: -moz-linear-gradient(-45deg,  rgba(118,17,253,0.79) 28%, rgba(120,18,253,0.79) 30%, rgba(142,32,250,0.7) 59%, rgba(170,49,247,0.7) 95%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(118,17,253,0.79) 28%,rgba(120,18,253,0.79) 30%,rgba(142,32,250,0.7) 59%,rgba(170,49,247,0.7) 95%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(118,17,253,0.79) 28%,rgba(120,18,253,0.79) 30%,rgba(142,32,250,0.7) 59%,rgba(170,49,247,0.7) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c97611fd', endColorstr='#b3aa31f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.accordion-button:not(.collapsed){
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7611fd+28,aa31f7+95&0.79+30,0.7+59 */
    background: -moz-linear-gradient(-45deg,  rgba(118,17,253,0.79) 28%, rgba(120,18,253,0.79) 30%, rgba(142,32,250,0.7) 59%, rgba(170,49,247,0.7) 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(118,17,253,0.79) 28%,rgba(120,18,253,0.79) 30%,rgba(142,32,250,0.7) 59%,rgba(170,49,247,0.7) 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(118,17,253,0.79) 28%,rgba(120,18,253,0.79) 30%,rgba(142,32,250,0.7) 59%,rgba(170,49,247,0.7) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c97611fd', endColorstr='#b3aa31f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #ffffff;
    box-shadow: none;
}
.buttons{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7611fd+28,aa31f7+95&0.79+30,0.7+59 */
background: -moz-linear-gradient(-45deg,  rgba(118,17,253,0.79) 28%, rgba(120,18,253,0.79) 30%, rgba(142,32,250,0.7) 59%, rgba(170,49,247,0.7) 95%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(118,17,253,0.79) 28%,rgba(120,18,253,0.79) 30%,rgba(142,32,250,0.7) 59%,rgba(170,49,247,0.7) 95%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(118,17,253,0.79) 28%,rgba(120,18,253,0.79) 30%,rgba(142,32,250,0.7) 59%,rgba(170,49,247,0.7) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c97611fd', endColorstr='#b3aa31f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}
.course-price{
    color: #2164f3;
    font-weight: 600;
}
h1, h2, h3, h4, h5, h5{
    padding: 0px;
}

.navbar-nav a{
    font-size: 20px;
}
p{
    font-size: 20px;
    font-weight: 400;
}
a{
    text-decoration: none;
    font-size: 18px!important;
    font-weight: 500;
}


.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #ffffff;
   
}
span.arrow-style {
    color: #ffffff!important;
    opacity: 1;
    width: 60px;
    height: 60px;
    filter: none!important;
}


.bg-color, .bg{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aa31f7+1,7611fd+100&0.02+12,0.04+36 */
background: -moz-linear-gradient(-45deg,  rgba(170,49,247,0.02) 1%, rgba(164,45,248,0.02) 12%, rgba(151,37,249,0.04) 36%, rgba(118,17,253,0.04) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(170,49,247,0.02) 1%,rgba(164,45,248,0.02) 12%,rgba(151,37,249,0.04) 36%,rgba(118,17,253,0.04) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(170,49,247,0.02) 1%,rgba(164,45,248,0.02) 12%,rgba(151,37,249,0.04) 36%,rgba(118,17,253,0.04) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05aa31f7', endColorstr='#0a7611fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

.bg{
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* Course */
.course-price{
    color: #aa31f7;
}

/* According style */
.item {
    margin-bottom: 10px;
    border: 1px solid #0000ff1c;
}

.top-border {
    border-top: 1px solid #0000ff1c;
}
/* .shadow-md {
    border-left: 1px solid #0000ff1c!important;
    border-right: 1px solid #0000ff1c!important;
    border-top: 1px solid #0000ff1c!important;
    border-radius: 10px;
}

.border.border-2.p-4 {
    border-left: 1px solid #0000ff1c!important;
    border-right: 1px solid #0000ff1c!important;
    border-bottom: 1px solid #0000ff1c!important;
} */